body{
    background-color: #6bbcd4;
    text-align: center;
    max-height: 500vh;
}
.btn {
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
}
.btn:hover {
    color: var(--cl-white);
    background:var(--cl-black)
}